Repository Golosova76/smart-home: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: add husky, commitlint
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: add husky, commitlint
  .husky/pre-commit
  src/app/shared/services/loading.service.ts
Due: eslint --fix, prettier --write

feat: add husky, commitlint
  .husky/pre-commit
Due: none

feat: add husky, commitlint
  .husky/commit-msg
Due: none

feat: add README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,component.ts}
  prettier --write: (((any of: *.{ts,component.ts}) or (any of: *.{html,component.html})) or (any of: *.{scss,css})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.{scss,css}
